<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
  <link rel="stylesheet" href="../Bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="navbar.css">
  <link rel="shortcut icon" href="./resources/Logo.svg" type="image/x-icon">
  <script src="https://kit.fontawesome.com/7740605ddf.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <a href="/admin-home" class="logo">
      <img src="../resources/Logo.svg" alt="" width="35" height="35" class="d-inline-block align-text-middle" />
      <img src="../resources/LogoText.svg" alt="" width="60" height="30" class="d-inline-block align-text-middle"></a>
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li><a href="/admin-learnerslist"><i class="fa-solid fa-user-graduate"></i> Learners</a></li>
      <li><a href="/admin-instructorslist"><i class="fa-solid fa-person-chalkboard"></i></i> Instructors</a></li>
      <li><a href="/admin-companieslist"><i class="fa-solid fa-building"></i> Companies</a></li>
      <li><a class="line" href="/logout"> Logout</a></li>
  </nav>
</body>

</html>