<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Home</title>
    <link rel="stylesheet" href="admin-home.css">
    <link rel="stylesheet" href="./Bootstrap/css/bootstrap.css">
</head>
<body>
    <%- include('partials/admin-navbar') -%>
    <div class="dashboard my-5"><div class="heading1">Statistics</div>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <div><div class="icon"><i class="fa-solid fa-user-graduate"></i></div>
            <p class="number">Students connected with us: 45</p></div>
          </div>
          <div class="col-sm">
            <div><div class="icon"><i class="fa-solid fa-person-chalkboard"></i></div>
            <p class="number">Instructors connected with us: 5</p>  
        </div></div>
          <div class="col-sm">
            <div><div class="icon"><i class="fa-solid fa-building"></i></div>
            <p class="number">Companies connected with us: 25</p>  
        </div></div>
        </div>
      </div>
    </div>
    <div class="dashboard2 my-5"><div class="heading1">Manage</div>
    <div class="container">
        <div class="row">
          <a class="col-sm" href="admin-learnerslist">
            <div><div class="icon"><i class="fa-solid fa-user-graduate"></i></div>
            <p class="number">Manage Students</p></div>
          </a>
          <a class="col-sm" href="admin-instructorslist">
            <div><div class="icon"><i class="fa-solid fa-person-chalkboard"></i></div>
            <p class="number">Manage Instructors</p>  
        </div></a>
          <a class="col-sm" href="admin-companieslist">
            <div><div class="icon"><i class="fa-solid fa-building"></i></div>
            <p class="number">Manage Companies</p>  
        </div></a>
        </div>
      </div>
    </div>
<%- include('partials/footer') -%>
      <script src="https://kit.fontawesome.com/e4a36e3b16.js" crossorigin="anonymous"></script>
</body>
</html>