<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./home.css">
    <link rel="shortcut icon" href="./resources/Logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Skillery</title>
</head>

<body>
    <%- include('partials/navbar',{active: "home"}); -%>
    <div class="hero-image">
        <div class="hero-text">
            <h1>We empower learners, colleges, and companies with our pathbreaking programs.</h1>
            <p>Skillery works simultaneously with colleges and
                companies to create high performing developers.</p>
            <a href="#seehow"><button>See how it works</button></a>
        </div>
    </div>
        <div class="row m-5 " id="seehow">
            <div class="col-sm text-center">
                <img src="./resources/learner.svg" alt="" class = "headerImages">
                <h3 text>Learners</h3>
                <p>Learn coding from the best mentors and find your dream job</p>
                <a href="home-learner"><button type="button" class="btn pinkButtons">Start Learning</button></a>
            </div>
            <div class="col-sm text-center">
                <img src="./resources/college.svg" alt="" class = "headerImages">
                <h3>Colleges</h3>
                <p>Make your students industry ready. Plug into our campus programs</p>
                <a href="home-college"><button type="button" class="btn pinkButtons">Start an Academy</button></a>
            </div>
            <div class="col-sm text-center">
                <img src="./resources/company.svg" alt="" class = "headerImages">
                <h3>Companies</h3>
                <p>Hire top notch competitive coders and close roles faster than ever!</p>
                <a href="home-company"><button type="button" class="btn pinkButtons">Work with us</button></a>
            </div>
        </div>

    <div class="container my-5 mx-auto">
        <div class="row featurette d-flex justify-content-center align-items-center my-5 p-2">
            <div class="col-md-7">
                <h3 class="heading-1">LEARNERS</h3>
                <h2>Become a SuperCoder and find a dream job!</h2>
                <p>Learn full stack development in our 3-month LIVE online SuperCoders program and master the skills you need to develop both front end and back end components of a web application or software.</p>
                <a href="home-learner"><button type="button" class="btn pinkButtons">Apply for next batch!</button></a>
            </div>
            <div class="col-md-5 text-center">
                <img class="img-fluid imageshort" src="./resources/learner1.svg" alt="">
            </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center my-5 p-2">
            <div class="col-md-7 order-md-2">
                <h3 class="heading-1" >COLLEGES</h3>
                <h2>Start a Skillery Academy in your campus</h2>
                <p>Integrate our Industry driven programs in your
                    curriculum or start a new course with us to prepare
                    your students for the in-demand tech skills.</p>
                <a href="home-college"><button type="button" class="btn pinkButtons">Partner with us</button></a>
            </div>
            <div class="col-md-5 order-md-1 colegeimage">
                <img class="imageshort my-2" src="./resources/college1.svg" alt="">
            </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center my-5 p-2">
            <div class="col-md-7">
                <h3 class="heading-1">COMPANIES</h3>
                <h2>Unlike your typical hiring
                    agency, we make an impact!</h2>
                <p>We are solving the problem of tech talent shortage by preparing the top students from colleges to become highly valuable tech professionals.</p>
                <a href="home-company"><button type="button" class="btn pinkButtons">Work with us</button></a>
            </div>
            <div class="col-md-5 text-center">
                <img class="img-fluid imageshort" src="./resources/company1.svg" alt="">
            </div>
        </div>
    </div>

    <%- include('partials/footer') -%>
    <script src="../Bootstrap/js/bootstrap.js"></script>
</body>

</html>